<% if(typeof published==='undefined' || published!==false) { %>

  <main class="main">

      <article class="article">
          <h1><%- title %></h1>
          <div class="article-meta">
              <% if(author) { %>
                <a href="http://twitter.com/<%= authors[author].twitter %>"><%= authors[author].name %></a>
              <% } %>
              <time class="time"> on <%- date %></time>
          </div>
          <%- yield %>
      </article>

      <% include ../_includes/comments %>

  </main>

  <nav class="subnav">

    <%- partial("../_includes/article-nav") %>

  </nav>

<% } else { %>

  <% include ../404 %>

<% } %>
